.LoginForm,
.RegisterForm {
  text-align: center;
  width: 350px;
}

.login-btn {
  width: 100%;
  background-color: var(--tertiaryColor);
}

.register-btn {
  width: 100%;
  color: var(--contrastTextColor);
  background-color: var(--quaternaryColor);
}

.login-btn + div,
.register-btn + div {
  margin-top: 1rem;
  margin-left: 5px;
  text-align: left;
}

.donate-register-btn {
  padding: 0 1rem;
  margin-right: 1rem;
}
.donate-register-btn1 {
  background-color: var(--tertiaryColor);
}

input[name='confirm'] {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 10px !important;
  background: #000;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

input[name='confirm']::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 14px;
  height: 14px;
  border: 1px solid var(--quaternaryColor);
  border-radius: 50%;
  background: var(--tertiaryColor);
  cursor: pointer;
}

.DonatorRegister {
  width: 350px;
}

.confirm {
  margin-top: 3rem;
}

.complete-btn {
  width: 100%;
  background-color: var(--tertiaryColor);
}


input[name='anonymous'] {
  appearance: none;
}
label[for='anonymous'] {
  background-color: var(--secondaryColor);
  padding: 0.7rem 1rem;
  border-radius: var(--borderRadius);
  cursor: pointer;
  font-weight: bold;
}

label[for='anonymous'] > i::before {
  font-size: 1.5rem;
}

input[name='target'] {
  appearance: none;
}

label[for='target'] {
  background-color: var(--tertiaryColor);
  padding: 0.7rem 1rem;
  cursor: pointer;
  border-radius: var(--borderRadius);
  font-weight: bold;
}

label[for='target'] > i::before {
  font-size: 1.5rem;
}

.btn-create-post{
  background-color: var(--quaternaryColor);
  color: var(--contrastTextColor);
  padding: 0 1rem;
  margin-top: 1rem;
}

input[name="post-image"]{
  /* width: fit-content; */
  height: fit-content !important;
  border: none;
  border-radius: 0;
  padding: 0;
}

input[name="post-image"]::-webkit-file-upload-button {
  display: none;
}

label[for="post-image"] {
  background-color: rgb(248, 248, 248);
  margin-top: 1rem;
  padding: 0 1rem;
  border-radius: var(--borderRadius);
}

input[name='loginSave'] {
  appearance: none;
}

label[for='loginSave'] {
  font-weight: bold;
  margin-bottom: 1rem;
  cursor: pointer;
}

label[for='loginSave'] > i::before {
  font-size: 1.5rem;
}