
.LoginForm, .RegisterForm{
    text-align: center;
    width: 350px;
}

.login-btn{
    width: 100%;
    background-color: var(--tertiaryColor);
}

.register-btn{
    width: 100%;
    color: var(--contrastTextColor);
    background-color: var(--quaternaryColor);
}

.login-btn +div, .register-btn +div{
    margin-top: 1rem;
    margin-left: 5px;
    text-align: left;
}