.wide-screen {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--tertiaryColor);
  z-index: 9999;
  overflow: auto;
  padding: 2rem;
}

.loading {
  position: relative;
  width: 3em;
  height: 3em;
  border: 3px solid var(--quaternaryColor);
  overflow: hidden;
  -webkit-animation: spin 3s ease infinite;
          animation: spin 3s ease infinite;
}

.loading::before {
  content: '';
  position: absolute;
  top: -3px;
  left: -3px;
  width: 3em;
  height: 3em;
  background-color: var(--secondaryColor);
  -webkit-transform-origin: center bottom;
      -ms-transform-origin: center bottom;
          transform-origin: center bottom;
  -webkit-transform: scaleY(1);
      -ms-transform: scaleY(1);
          transform: scaleY(1);
  -webkit-animation: fill 3s linear infinite;
          animation: fill 3s linear infinite;
}

@-webkit-keyframes spin {
  50%,
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  50%,
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes fill {
  25%,
  50% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}

@keyframes fill {
  25%,
  50% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}