.PostManageModal {
  width: 80%;
  background-color: var(--primaryColor);
  padding: 2rem;
  border-radius: 10px;
}

.CreatePostLayout{
  width: 70%;
}

.edit-btn,
.delete-btn {
  border-radius: 5px;
  width: 40px;
  height: 40px;
  padding: 0;
  background-color: transparent;
}


.edit-btn > i{
  font-size: 1.5rem;
  color: var(--quaternaryColor);
}

.delete-btn > i {
  font-size: 1.5rem;
  color: rgb(255, 81, 81)
}

.DeletePost{
  background-color: var(--quaternaryColor);
  color: var(--contrastTextColor);
  border-radius: 5px;
  padding: 2rem;
}

.delete-confirm-btn{
  background-color: red;
  color: white;
  padding: 0 1rem;
  margin-left: 1rem;
}

.cancel-btn{
  background-color: var(--tertiaryColor);
  padding: 0 1rem;
}

.update-btn{
  background-color: var(--quaternaryColor);
  color: var(--contrastTextColor);
  margin-right: 1rem;
  padding: 0 1rem;
}

.UpdatePost{
  background-color: var(--quaternaryColor);
  padding: 2rem;
  width: 80%;
  border-radius: 10px;
}

.UpdatePost > h2, .UpdatePost > div > div > span{
  color: var(--contrastTextColor)
}

.post-detail-content-img{
  background-color: var(--secondaryColor);
  margin-top: 1rem;
  border-radius: 10px;
}

.edit-confirm-btn{
  margin-top: 2rem;
  background-color: var(--tertiaryColor);
  padding: 0 1rem;
}


.UpdateUserInformation{
  width: 80%;
  background-color: var(--secondaryColor);
  padding: 2rem;
  border-radius: 10px;
}