main {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 70% 1rem 30%;
  grid-template-columns: 70% 30%;
  gap: 1rem;
}

.AllPosts {
  margin: 2rem 0;
}

.post-container {
  width: 100%;
}

.PostDetail {
  width: 100%;
  padding: 1rem;
  -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  background-color: var(--primaryColor);
}

.post-detail-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.post-user-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.post-user-info-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
  border: 1px solid black;
}

.post-user-info-name a {
  font-weight: bold;
  display: block;
  margin-bottom: 10px;
}

.donate-btn,
.vote-btn {
  background-color: var(--tertiaryColor) !important;
  padding: 0.6rem 2rem;
  height: -webkit-fit-content !important;
  height: -moz-fit-content !important;
  height: fit-content !important;
}

.post-detail-bottom {
  width: 100%;
  margin: 1rem 0;
}

.target {
  height: 10px;
  background-color: var(--secondaryColor);
  border-radius: var(--borderRadius);
  position: relative;
}

.target-amout {
  background-color: var(--quaternaryColor);
  height: 10px;
  width: 80%;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: var(--borderRadius);
}

.TopActivities {
  width: 100%;
  overflow: auto;
  height: 80px;
  border-radius: 10px 10px 0 0;
  border: 1px solid black;
  padding: 1rem 1rem 0 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.high-rate-post {
  min-width: 300px;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  cursor: pointer;
  margin-right: 1rem;
  border: 1px solid black;
  padding: 0 1rem;
}

.hr-post-title {
  font-weight: 500;
}

.hr-post-user-full-name {
  font-size: 13px;
}

.wide-screen > i::before {
  font-size: 34px;
  cursor: pointer;
  position: absolute;
  right: 1rem;
  top: 1rem;
}

.post-manage-btn {
  padding: 0 1rem;
  opacity: 0.7;
}

.post-manage-btn:hover {
  opacity: 1;
}

.CreatePostLayout {
  width: 100%;
  background-color: var(--primaryColor);
  -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
  padding: 1rem;
  border-radius: 10px;
}

.CreatePostLayout input {
  height: auto;
  width: 97%;
  border: none;
  border-radius: var(--borderRadius);
  background-color: rgba(220, 220, 220, 0.485);
  cursor: pointer;
}

.CreatePostLayout input:hover {
  background-color: rgba(220, 220, 220, 0.85);
}

.create-post-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid black;
  margin-right: 1rem;
}

.CreatePostLayout button {
  padding: 0 2rem;
}

.CreatePost {
  width: 600px;
  background-color: var(--secondaryColor);
  padding: 2rem;
  border-radius: 10px;
}

.ShortenedPost {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(11rem, 1fr));
  gap: 1rem;
}

.pm-item {
  width: 100%;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
  padding: 0 1rem;
}
